html{
    font-size:62.5%;
}
a{
    vertical-align: middle;
}

#header{
    width:100%;
}
.header-upper{
    width:960px;
    height: 150px;
    margin:0 auto;
    background: whitesmoke;
}

.header-site-title{
    height: 30px;
    width:100%;
    text-align: center;
    font-size:2.4rem;
    padding-top:15px;
    box-sizing: content-box;
}
.header-site-title a{
    display: block;
    display: inline-block;
    padding: 1px 3px;
}

.header-site-subtitle{
    text-align: center;
    margin-top: 10px;
    font-size: 1.6rem;
}

.header-nav{
    margin-top:25px;
}
.header-list{
    display: flex;
    justify-content: space-evenly;
}
.header-list-item{
    padding: 3px 5px;
}
.header-list-item a{
    font-size:1.6rem;
}

.header-foot img{
    width: 100%;
    height: 420px;
}
#main{
    width:960px;
    margin:30px auto;
}

.content-wrap{
    padding-top: 150px;
}
.content-wrap:first-of-type{
    padding-top:30px;
}
.wrap-title{
    font-size:2.0rem;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.profile-name{
    margin-top: 60px;
    display: inline-block;
    font-size:1.6rem;
}

.profile-info{
    font-size:1.6rem;
    margin-top:30px;
}

.work-area{
    width:300px;
    display: inline-block;
    background: whitesmoke;
    height: 400px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top:60px;
}
.works-wrap{
    display: flex;
    justify-content: space-around;
}
.work-area-title{
    font-size:1.8rem;
    display: block;
    text-align: center;
}
.work-area-info{
    font-size:1.6rem;
    margin-top: 20px;
    height: 160px;
}
.work-area-img-wrap{
    margin-top:20px;
    text-align: center;
}
.work-area-img{
    width:220px;
    height: 140px;
}
.charactor-table{
    font-size:1.6rem;
    width: 860px;
    margin: 60px auto 0;
    border-collapse: separate;
    border-spacing: 0px;
}
.charactor-table td{
    border-top: 1px solid black;
    padding: 5px 10px;
}
.charactor-table td:first-of-type{
    border-right:1px solid black;
}
.charactor-table tr:last-child td{
    border-bottom:1px solid black;
}

.contact-form{
    margin-top: 60px;
}

.contact-form label{
    display: flex;
    justify-content: space-between;
    font-size:1.8rem;
    margin-top: 20px;
    align-items: center;
}

.contact-form input[type="text"]{
    border:1px solid black;
    width: 760px;
    height: 30px;
    padding: 3px 10px;
}

.contact-form textarea{
    border:1px solid black;
    padding: 3px 10px;
    width: 760px;
    height: 180px;
}

.submit-button-wrap{
    text-align: center;
    margin-top:30px;
}
.submit-button-wrap input[type="submit"]{
    width:200px;
    height: 45px;
    background: black;
    color:white;
    font-size:1.8rem;
}

#footer{
    margin-top: 120px;
    background: black;
    color:white;
    text-align: center;
    color:1.4rem;
    height: 30px;
    line-height: 30px;
}

/* Profile */
.main-content-wrap{

}
.main-title{
    font-size: 2.0rem;
    text-align: center;
}
.main-content-wrap-profile-name{
    font-size:1.6rem;
    display: inline-block;
    margin-top:60px;
}
.main-content-wrap-profile-info{
    font-size:1.6rem;
    margin-top:30px;
}

/* Works */
.work-wrap{
    margin-top:60px;
}

.main-works-content-wrap .work-img-wrap{
    text-align: center;
    
}
.main-works-content-wrap .work-img{
    width:640px;
    height: 420px;
}


.main-works-content-wrap .work-title{
    font-size:1.8rem;
}

.work-wrap-foot{
    margin-top:30px;
    width:640px;
    margin-right:auto;
    margin-left:auto;
}

/* Articles */
.main-2columns{
    display: flex;
    margin-top:60px;
    justify-content: space-between;
}
.main-article{
    padding: 10px 10px 15px;
    border:1px solid black;
}
.main-article:not(:first-of-type){
    margin-top:30px;
}


.main-articles-wrapper{
    width:640px;
}

.main-sidebar{
    width:260px;
    height: 1600px;
    background: aliceblue;
}

.article-foot-img{
    width:180px;
    height: 140px;
}

.article-category{
    display: inline-block;
    margin-top:10px;
    font-size:1.4rem;
}

.article-date{
    font-size:1.2rem;
    background: #EB8686;
    width:100px;
    height: 20px;
    display: inline-block;
    color:white;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
}
.article-title-wrapper{
    margin-top: 10px;
}
.article-title{
    font-size:1.8rem;
    display: inline-block;
}
.article-title-link{
    display: block;
}
.article-foot{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.article-foot .article-foot-info{
    width:400px;
    font-size:1.6rem;
    max-height: 160px;
}


/* sidebar */
.main-sidebar-wrapper{
    width:290px;
    height: 2000px;
    display: flex;
    justify-content: right;
    border-left:1px solid black;
}

.sidebar-section-title{
    width:100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size:1.8rem;
    border:1px solid black
}
.sidebar-section:not(:first-of-type){
    margin-top:40px;
}
.sidebar-section-content{
    margin-top:20px;
}


.sidebar-search-form{
    position:relative;
    width:220px;
    height: 30px;
    margin: 0 auto;
}
.sidebar-search-form input[type="text"]{
    border-left:1px solid black;
    border-top:1px solid black;
    border-bottom:1px solid black;
    width:190px;
    height: 30px;
    font-size:1.6rem;
    padding: 3px 5px;
}
.sidebar-search-form input[type="submit"]{
    width:30px;
    height: 30px;
    position:absolute;
    background-image: url(img/search.svg);
    background-repeat: no-repeat;
    background-position: 4px 4px;
    border-top:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
}
.new-article-list{
    margin:0 auto;
    width:220px;
}

.new-article-list-item{
    width:220px;
    height: 60px;
    background: burlywood;
}

.new-article-list-item a{
    display: flex;
}
.new-article-img{
    width:60px;
    height: 60px;
}
.new-article-title{
    width:160px;
    font-size:1.4rem;
    padding:3px 5px;
}
.new-article-list-item:not(:first-of-type){
    margin-top:20px;
}
.category-list{
    width: 220px;
    margin: 0 auto;
}
.category-list-item{
    font-size:1.6rem;
    border-bottom: 1px solid black;
    padding: 5px 0;
}
.category-list-item:not(:first-child){
    margin-top:10px;
}

.category-list-item i{
    vertical-align: middle;
}
.category-list-item a{
    padding:3px 5px;
}


.month-list{
    font-size:1.6rem;
    width: 220px;
    margin: 0 auto;
}
.month-list-item a{
    display: block;
    padding:3px 5px;
}

.month-list-item:not(:first-child){
    margin-top:10px;
}
.page-list-wrapper{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.page-list{
    font-size: 1.8rem;
    display: flex;
    width: 220px;

}
.page-list-item{
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin-left:15px;
}
.page-list-item a{
    display: block;
    border: 1px solid black;
    border-radius: 1px;
    
}
.next-page-list{
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    width: 240px;
}

.next-page-item{
    width: 100px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin-left:15px;
}
.next-page-itme a{
    display: block;

}

/* article-detail */
.main-detail-article{

}

.article-title-detail{
    font-size:1.8rem;
    color:white;
    background:#4072B3;
    padding: 5px 0 5px 10px;
}
.article-detail-category{
    display: inline-block;
    margin-top:10px;
    margin-bottom:30px;
    font-size:1.4rem;
}
.article-detail-foot-img{
    display: block;
    width:400px;
    height: 260px;
    margin: 0 auto;
    margin-bottom:30px;
}
.article-detail-foot-info{
    min-height: 200px;
    font-size: 1.6rem;
}

.map-wrapper{
    width:800px;
    height: 400px;
    margin: 30px auto 0;
    background:gold;
}
.map-info{
    margin-top: 50px;
    font-size:1.6rem;
    width:520px;
}